@use "@/styles/_variables" as *;

.description {
  &__title {
    font-size: $font-size-2xl;
    font-weight: $font-weight-normal;
    color: $gray-normal;
    margin-bottom: 16px;

    @media (max-width: 768px) {
      font-size: $font-size-xl;
    }
  }

  &__content {
    font-size: $font-size-lg;
    font-weight: $font-weight-normal;
    color: $gray-light;
    white-space: pre-wrap;
    @media (max-width: 768px) {
      font-size: $font-size-md;
    }
  }
}
