@import "@/styles/variables.scss";

.search-box {
  background-color: $white;
  max-width: 1018px;
  height: 40px;
  width: 100%;
  display: flex;
  border: none;

  &__input {
    width: 100%;
    height: 100%;
    padding: $spacing-8;
    padding-left: $spacing-16;
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    font-family: $font-family;
    color: $gray-normal;

    &::placeholder {
      color: $gray-light;
    }
  }

  &__button {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:before {
      content: "";
      display: block;
      height: 20px;
      width: 2px;
      background-color: $ml-gray;
      position: absolute;
      left: 0;
    }

    & > img {
      width: 20px;
      height: 20px;
    }
  }
}
