//colors
$white: #ffffff;
$ml-yellow: #ffe600;
$ml-gray: #ebebeb;
$ml-gray-light: #f5f5f5;
$ml-blue: #3483fa;
$ml-green: #00a650;
$ml-blue-light: rgba(65, 137, 230, 0.15);

$font-family: "proximaNova", -apple-system, "Helvetica Neue", helvetica, roboto,
  arial, sans-serif;

//font-colors
$font-gray-light: rgba(0, 0, 0, 0.55);
$font-gray-normal: rgba(0, 0, 0, 0.8);
$font-gray-dark: rgba(0, 0, 0, 0.9);

//font-weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;

//font-sizes
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 15px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 22px;
$font-size-2xl: 24px;
$font-size-3xl: 36px;

//widths
$main-container-width: 1200px;

//sizes
$size-6: 6px;
$size-8: 8px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-24: 24px;
$size-28: 28px;
$size-30: 30px;
$size-34: 34px;
$size-48: 48px;
