@import "@/styles/variables";

.attributes {
  margin-top: $spacing-28;
}

.attributes__item {
  font-size: $font-size-lg;
  font-weight: $font-weight-light;
  color: $gray-dark;

  &:not(:last-child) {
    margin-bottom: $spacing-8;
  }
}

.attributes__value {
  font-weight: $font-weight-normal;
}
