@import "@/styles/variables";

.product-info {
  margin-left: 48px;

  @media (max-width: 1200px) {
    margin-left: 0px;
    margin-bottom: 10px;
  }

  &__condition-wrapper {
    margin-top: 28px;
    display: flex;
    font-size: $font-size-sm;
    font-weight: $font-weight-light;
    color: $font-gray-light;
    align-items: center;
  }

  &__condition {
    position: relative;
    padding-right: 5px;
    margin-right: 5px;

    &--right-detailed {
      &:after {
        content: "";
        display: block;
        height: 12px;
        width: 1px;
        background-color: #0000008c;
        position: absolute;
        right: 0;
        top: 3px;
        opacity: 0.4;
      }
    }
  }

  &__title {
    margin-top: 28px;
    font-size: 22px;
    font-weight: $font-weight-semi-bold;
    color: $font-gray-dark;

    &--desktop {
      display: block;
      @media (max-width: 600px) {
        display: none;
      }
    }

    &--mobile {
      display: none;
      margin-top: 0px;
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: $font-weight-normal;
      @media (max-width: 600px) {
        display: block;
      }
    }
  }

  &__seller-name {
    margin-top: 8px;
    font-size: 18px;
    font-weight: $font-weight-normal;
    color: $font-gray-light;
    @media (max-width: 600px) {
      font-size: 16px;
    }
  }

  &__price {
    margin: 28px 0px;
  }

  &__original-price {
    font-size: 16px;
    font-weight: $font-weight-normal;
    color: $font-gray-light;
  }

  &__current-price {
    font-size: $font-size-3xl;
    font-weight: $font-weight-normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // @media (max-width: 768px) {
    //   font-size: $font-size-lg;
    // }
  }

  &__discount {
    color: $ml-green;
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    margin-left: $size-14;
    white-space: nowrap;
    @media (max-width: 768px) {
      font-size: $font-size-xxs;
      margin-left: $size-6;
    }
  }

  &__installments {
    font-size: 18px;
    font-weight: $font-weight-light;
  }

  &__free-shipping {
    // margin-top: 25px;
    font-size: 18px;
    font-weight: $font-weight-semi-bold;
    color: $ml-green;

    @media (max-width: 768px) {
      margin-top: 12px;
    }
  }
}
