@use "@/styles/_variables" as *;

.product-info {
  margin-left: $spacing-48;

  @media (max-width: 1200px) {
    margin-left: 0;
    margin-bottom: $spacing-10;
  }

  &__condition-wrapper {
    margin-top: $spacing-28;
    display: flex;
    font-size: $font-size-sm;
    font-weight: $font-weight-light;
    color: $gray-light;
    align-items: center;
  }

  &__condition {
    position: relative;
    padding-right: $spacing-5;
    margin-right: $spacing-5;

    &--right-detailed {
      &:after {
        content: "";
        display: block;
        height: 12px;
        width: 1px;
        background-color: $gray-light;
        position: absolute;
        right: 0;
        top: 3px;
        opacity: 0.4;
      }
    }
  }

  &__title {
    margin-top: $spacing-28;
    font-size: $font-size-2xl;
    font-weight: $font-weight-semibold;
    color: $gray-dark;

    &--desktop {
      display: block;
      @media (max-width: 600px) {
        display: none;
      }
    }

    &--mobile {
      display: none;
      margin-top: 0;
      margin-bottom: $spacing-8;
      font-size: $font-size-md;
      font-weight: $font-weight-normal;
      @media (max-width: 600px) {
        display: block;
      }
    }
  }

  &__seller-name {
    margin-top: $spacing-8;
    font-size: $font-size-lg;
    font-weight: $font-weight-normal;
    color: $gray-light;
    @media (max-width: 600px) {
      font-size: $font-size-md;
    }
  }

  &__price {
    margin: $spacing-28 0;
  }

  &__original-price {
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    color: $gray-light;
  }

  &__current-price {
    font-size: $font-size-4xl;
    font-weight: $font-weight-normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__discount {
    color: $ml-green;
    font-size: $font-size-md;
    font-weight: $font-weight-normal;
    margin-left: $spacing-14;
    white-space: nowrap;
    @media (max-width: 768px) {
      font-size: $font-size-xxs;
      margin-left: $spacing-6;
    }
  }

  &__installments {
    font-size: $font-size-lg;
    font-weight: $font-weight-light;
  }

  &__free-shipping {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $ml-green;

    @media (max-width: 768px) {
      margin-top: $spacing-12;
    }
  }
}
