@import "@/styles/variables.scss";

.header {
  background-color: $ml-yellow;
  padding: $spacing-8;
  margin-bottom: $spacing-30;
  position: relative;

  &__content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__first-message {
    position: absolute;
    right: 24px;
    bottom: -100%;
  }
}
