@import "@/styles/variables";

.search-footer {
  margin-top: $spacing-30;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $ml-gray-light;
  padding: $spacing-12;
  padding-bottom: $spacing-24;
}
