@import "@/styles/variables";

.breadcrumb {
  display: flex;

  @media (max-width: 1200px) {
    display: none;
  }
}

.breadcrumb__item {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: $font-weight-light;
  color: $gray-light;

  &--back-link {
    color: $ml-blue;
    padding-right: $spacing-10;
    font-weight: $font-weight-normal;
    margin-right: $spacing-10;
    position: relative;

    &:after {
      content: "";
      display: block;
      height: 12px;
      width: 2px;
      background-color: $gray-light;
      position: absolute;
      right: 0;
      opacity: 0.4;
    }
  }
}

.breadcrumb__separator {
  margin: 0 $spacing-5;
}
