@import "@/styles/variables";

.pdp-container {
  margin: 0 auto;
}

.pdp-item-container {
  padding: $spacing-24;
  padding-bottom: $spacing-42;
  background-color: $white;
  margin-top: $spacing-10;
  margin-bottom: $spacing-28;

  @media (max-width: 1200px) {
    padding: $spacing-16;
    padding-bottom: $spacing-32;
  }

  &__row {
    display: flex;

    @media (max-width: 600px) {
      justify-content: center;
      flex-direction: column;
    }
  }
}
