@use "@/styles/_variables" as *;

.pagination {
  font-size: $font-size-md;
  font-weight: $font-weight-normal;
  color: $gray-dark;
}

.pagination__list {
  display: flex;
  gap: 2px;
}

.pagination__button {
  & > .pagination__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    height: 28px;
    padding: $spacing-4;
    transition: all 0.1s;
    border: 1px solid transparent;
    border-radius: 4px;

    &:hover {
      background-color: $ml-blue-light;
    }
    &--current {
      background-color: $white;
      border-color: $ml-blue;
      font-weight: $font-weight-semibold;
    }
  }
}
